.blackButAdvantage{
  background: black;
  color: white;
  border-radius: 5px;
  width: 99%;
  border: none;
  padding: 8px 0;
}
.blackButAdvantage:hover{
  background: white;
  color: black;
  border: 1px solid black;
}
.butHomeContactMessage{
  background: #F25C27;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.butHomeContactMessage:hover{
  background: #B7471F;
}
.butHomeContactInfo{
  background: black;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.butHomeContactInfo:hover{
  background: white;
  color: black;
  border: 1px solid black;
}
