*{
    margin:0px;
    padding:0px;
}
#image{
    position:relative;
    z-index:-1;

}
#content{
    height:1000px;
    width:100%;
    margin-top:-10px;
    background-color:#fff;
    position:relative;
    z-index:-1;
}

#title {
    font-size: 60px;
    color:white;
}
