
#image_font{
    position:relative;
    z-index:-1;
    height:100%;
    width:100%;
    margin:-5% 0%;
    opacity: 0.9;
    filter: grayscale(5%);
}
#content_font{
    height:1000px;
    width:100%;
    margin-top:-10px;
    background-color:#fff;
    position:relative;
    z-index:-1;
}

#title_font {
    font-size: 5vw;
    color: #055FF3;
}
