.headerBrand{
  display: block;
  float: left;
  font-size: 25px;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.divProductIncludeTitle{
  background: #004E95;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  color: white;
  font-size: 19px;
}
.divProductIncludeItems{
  background: #eeeeee;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}
.divProductIncludeItem{
  border-bottom: 1px solid #707070;
  padding: 12px 0;
}
.linkDownload{
  color: #004E95;
}
.linkDownload:hover{
  color: #013A6B;
}
.padding5px{
  padding: 5px;
}
.colorWhite{
  color: white;
}
.colorBlack{
  color: black;
}
.shadowBoxes{
   -moz-box-shadow:    inset 0 0 5px #878787;
   -webkit-box-shadow: inset 0 0 5px #878787;
   box-shadow:         inset 0 0 5px #878787;
}
.opacityImage{
  opacity: 1;
}
.opacityImage:hover{
  opacity: 0.5;
}
.width60{
  width: 60%;
}
