.round5{
  border-radius: 0 0 15px 15px;
}
.divRoundProductLicencePDV{
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.imagePDVInclude{
  border-radius: 1px;
}
.round15All{
  border-radius: 15px;
}
.round5Up{
  border-radius: 15px 15px 0 0;
}
