.textAdvantagesTitle{
  font-size: 20px;
  color: black;
}
.textAdvantagesSubtitle{
  font-size: 17px;
  color: #707070;
}
.textCenter{
  text-align: center !important;
}
.advantagePaddingTitle{
  padding: 8px 0;
}
.advantagePaddingSubitle{
  padding: 0 10px 10px 10px;
}
.textHomeContactTitle{
  color: #F25C27;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.textHomeContactInfo{
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.textGeneralTitle{
  color: black;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.textInfoPDV{
  color: #707070;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textDownloadPDV{
  color: black;
  font-size: 25px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.textOfferPDV{
  color: #191716;
  font-size: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textLicencePDV{
  color: #707070;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textQuestionPDV{
  color: #707070;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textInfoDwonloadPDV{
  color: #707070;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textwarningDwonloadPDV{
  color: #707070;
  font-size: 12px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textPDVIncludeTitle{
  color: black;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}
.textPDVIncludeSubtitle{
  color: ##707070;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textPadding10{
  padding: 10px;
}
