.textAdvantagesTitle{
  font-size: 20px;
  color: black;
}
.textAdvantagesSubtitle{
  font-size: 17px;
  color: #707070;
}
.textCenter{
  text-align: center !important;
}
.advantagePaddingTitle{
  padding: 8px 0;
}
.advantagePaddingSubitle{
  padding: 0 10px 10px 10px;
}
.textHomeContactTitle{
  color: #F25C27;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.textHomeContactInfo{
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.textIsi{
  color: white;
  font-size: 30px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.textGeneralTitle{
line-height: normal;
  color: black;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.textGeneralTitleOrange{
  padding: 10px 0;
  color: #F25C27;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  line-height: normal;
}
.textGeneralTitleWhite{
  color: white;
  font-size: 48px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  line-height: normal;
}
.textInfoPDV{
  color: #707070;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textAboutUsInfo{
  color: white;
  font-size: 23px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
  line-height: normal;
}
.textDownloadPDV{
  color: black;
  font-size: 25px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.textOfferPDV{
  color: #191716;
  font-size: 20px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textLicencePDV{
  color: #707070;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textQuestionPDV{
  color: #707070;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textInfoDwonloadPDV{
  color: #707070;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textwarningDwonloadPDV{
  color: #707070;
  font-size: 12px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textPDVIncludeTitle{
  color: black;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}
.textPDVIncludeSubtitle{
  color: ##707070;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
}
.textPadding10{
  padding: 10px;
}
.textProductTypeTitle{
  font-size: 19px;
  color: black;
}
.text19PxNonColor{
  font-size: 20px;
}
.textProductTypePrice{
  font-size: 24px;
  color: #013A6B;
}
.textAboutSQL{
  font-size: 31px;
  line-height: normal;
}
.text28Px{
  font-size: 28px;
  line-height: normal;
}
@media screen and (max-width: 1300px){
  .textGeneralTitleOrange{
    font-size: 35px;
  }
  .textGeneralTitleWhite{
    font-size: 35px;
  }
  .textHomeContactTitle{
    font-size: 35px;
  }
  .textGeneralTitle{
    font-size: 35px;
  }
}
